{% extends "admin/common/layout.njk" %}

{% block head %}
  <title>Create new chef - Admin Foodfy</title>
  <link rel="stylesheet" href="/admin/common.css">
{% endblock %}

{% block content %}

<form action="/admin/chefs" method="POST">

<h3>Criando chef</h3>

<button type="submit" class="btn btn-save">Salvar chef</button>

<div class="item">
<div>Nome</div>
<input type="text" name="name">
</div>

<div class="item">
<div>Avatar</div>
<input type="text" name="avatar_url" placeholder="http://">
</div>

</form>
{% endblock %}