{% extends "admin/common/layout.njk" %}

{% block content %}
{% block head %}
  <title>Recipe - Admin Foodfy</title>
  <link rel="stylesheet" href="/admin/common.css">
  <link rel="stylesheet" href="/admin/chefs.css">
{% endblock %}

<h3>Chef: {{chef.name}}</h3>

<a href="/admin/recipes/{{recipe.id}}/edit" class="btn btn-edit">Editar chef</a>

<div>
<div class="avatar" style="background-image: url({{chef.avatar_url}})"></div>
</div>

<div class="main-title">{{chef.name}}</div>

<div class="author"> receitas</div>

<div class="wrapper-cards">
{% for chef in chefs %}
<div class="cards">
<img class="card-avatar" src="{{recipe.image}}">
<div class="card-info">
<p class="card-main-title">{{recipe.title}}</p>
<p class="card-author">por {{recipe.name}}</p>
<a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
</div>
</div>
{% endfor %}
</div>

{% endblock %}

