<!DOCTYPE html>
<html>

<head> 
  {% block head %}
    <title>Foodfy</title>
  {% endblock %}
  <link rel="stylesheet" href="/common/common.css">
  <link rel="stylesheet" href="/admin/common.css">
</head>

<body>
    <header>
      <div class="logo admin-logo">
        <a href="/"><img src="/admin/img/logo-white.png" alt="Logo Foodfy"></a>
      </div>

      <div class="links">
        <a id="recipes" href="/admin/recipes">Receitas</a>
        <a id="chefs" href="/admin/chefs">Chefs</a>
      </div>
    </header>

  <div class="wrapper">

    {% block content %}{% endblock %}

  </div> 

  <script src="/common/links.js"></script>

</body>
</html>
