/* SHOW */
.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 2.25rem;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 4px;
  margin-top: 30px;
}

.wrapper h2 {
  color: var(--color-black);
}

.wrapper h3.recipes-sub {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-dark-grey);
  text-align: center;
  line-height: initial;
  display: block;
  margin-bottom: 50px;
}

.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 5px;
  line-height: 26px;
}

.card-avatar {
  border-radius: 8px;
  width: 100%;
}

.wrapper p.card-main-title {
  font-weight: 400;
  font-size: 1.13rem;
  margin-bottom: 5px;
  line-height: initial;
}

.wrapper p.card-author {
  font-weight: 400;
  font-size: 0.88rem;
  margin-bottom: 5px;
  color: var(--color-dark-grey);
  line-height: initial;
}

.card-info {
  margin-left: 20px;
}

.card-info a {
  font-size: 0.88rem;
  text-decoration: none;
  color: var(--color-purple);
}
