/* HEADER */
header {
  background-color: var(--color-black);
}

header .wrapper-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

header .links a {
  color: white;
}

/* CREATE */
.wrapper {
  margin-top: 55px;
}

.wrapper h3 {
  font-size: 1.5rem;
  line-height: 34px;
  display: inline-block;
  margin-bottom: 30px;
}

.wrapper input, textarea {
  display: block;
  border: 1px solid var(--color-border);
  background: white;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  color: var(--color-darker-grey);
  outline: none;
  padding-left: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.wrapper textarea {
  padding: 10px;
  height: 300px;
  width: 100%;
  line-height: 32px;
}

.wrapper input::placeholder {
  font-size: 0.88rem; 
}

.wrapper .item {
  margin-bottom: 15px;  
}

.wrapper h4 {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--color-black);
}

a {
  text-decoration: none;
}

.add-ingredient, .add-step{
  color: var(--color-purple);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.1px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.btn {
  color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 1px;
  padding: 8px 16px;
  float: right;
  cursor: pointer;
  outline: none;
}

.btn-save, .btn-edit {
  background-color: var(--color-purple);
}

.btn-delete {
  background-color: var(--color-red);
}

.btn-save {
  margin-right: 10px;
}

/* SHOW - RECIPE CARDS */
.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 172px 1fr;
  margin-bottom: 5px;
  line-height: 26px;
}

.wrapper .card-avatar {
  border-radius: 8px;
  width: 172px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 20px;
}

.wrapper p.card-main-title {
  font-weight: 400;
  font-size: 1.13rem;
  margin-bottom: 5px;
  line-height: initial;
}

.wrapper p.card-author {
  font-weight: 400;
  font-size: 0.88rem;
  margin-bottom: 5px;
  color: var(--color-dark-grey);
  line-height: initial;
}

.card-info {
  margin-left: 20px;
}

.card-info a {
  font-size: 0.88rem;
  text-decoration: none;
  color: var(--color-purple);
}
