/* INDEX */
.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-bottom: 5px;
  line-height: 26px;
}

.card-avatar {
  border-radius: 8px;
  width: 100%;
}

.card-main-title {
  font-weight: 400;
  font-size: 18px;
}

.card-author {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-dark-grey);
}

.card-info {
  margin-left: 20px;
}

.card-info a {
  font-size: 14px;
  text-decoration: none;
  color: var(--color-purple);
}

/* SHOW */
.avatar {
  height: 280px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper div.main-title {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.wrapper div.author {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-dark-grey);
  text-align: center;
}

.wrapper div.title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.wrapper div.list-ingredients ul, div.list-steps ul {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--color-darker-grey);
  list-style-type: "- ";
  list-style-position: inside;
}

.wrapper div.extra-information {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-darker-grey);
  line-height: 28px;
  text-align: justify;
  margin-bottom: 50px;
}




