{% extends "admin/common/layout.njk" %}

{% block head %}
  <title>Recipe - Admin Foodfy</title>
  <link rel="stylesheet" href="/admin/recipes.css">
{% endblock %}

{% block content %}

<h3>Receita: {{recipe.title}}</h3>

<a href="/admin/recipes/{{recipe.id}}/edit" class="btn btn-edit">Editar receita</a>

<div class="avatar" style="background-image: url({{recipe.image}})"></div>

<h1>{{recipe.title}}</h1>

<h2>por {{recipe.name}}</h2> 

<div class="title">Ingredientes</div>
<div class="list-ingredients">
<ul>
{% for ingredient in recipe.ingredients %}
<li>{{ingredient}}</li>
{% endfor %}
</ul>
</div>

<div class="title">Modo de preparo</div>
<div class="list-steps">
<ul>
{% for step in recipe.preparation %}
<li>{{step}}</li>
{% endfor %}
</ul>
</div>

<div class="title">Informações adicionais</div>
<p>{{recipe.information}}</p>

{% endblock %}

